@font-face {
   font-family: 'Bebas Neue';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///E:/Youmanity/website/landing//fonts/Bebas Neue/regular.ttf') format('truetype');
}
